<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- CSS読込 -->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/login/login.css}">
  <!-- JS読込 -->
  <script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
  <title>ログイン</title>
</head>
<body class="bg-light">
  <div class="text-center">
    <form id="usersignup-form" method="post" action="/user/userlogin" class="form-usersignup" th:object="${usersignupForm}">
    <h1 class="text-center" th:text="管理者ログイン"></h1>
    
    <!-- ユーザー名 -->
    <div class="form-group">
      <label for="userName" th:text="#{userName}"></label>
      <input type="text" class="form-control" th:field="*{userName}" th:errorclass="is-invalid" required/>
      <div class="invalid-feedback" th:errors="*{userName}"></div>
    </div>
    <!-- メールアドレス -->
    <div class="form-group">
      <label for="email" th:text="#{email}"></label>
      <input type="text" class="form-control" th:field="*{email}" placeholder="メールアドレス形式（...@...）で入力してください" th:errorclass="is-invalid" required/>
      <div class="invalid-feedback" th:errors="*{email}"></div>
    </div>
    <!-- パスワード -->
    <div class="form-group">
      <label for="password" th:text="#{password}"></label>
      <input type="text" class="form-control" th:field="*{password}" th:errorclass="is-invalid" required/>
      <div class="invalid-feedback" th:errors="*{password}"></div>
    </div>
    
    <!-- 登録ボタン -->
    <input type="submit" th:value="ログイン" class="btn btn-primary w-100 mt-3" />
    
  </form>
    
  </div>
</body>
</html>